@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContactUs>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Forms.Web
@Html.RenderUmbracoFormDependencies()
@{
    Layout = "Master.cshtml";
    var contactInformation = Model.Children<ContactInformation>();
}
<div class="ContactUs">
    <h2>@Model.Value("contactTitle")</h2>
    <div class="contact-form">
        @Html.Raw(Model.ContactForm) 
    </div>
</div>


<div class="contact">

    <div>
    <h3>Vill du boka oss?</h3>
    <h4>Kontaktuppgifter till våra agenturer</h4>
    </div>

	@foreach (var contact in contactInformation)
	{
        <div class="contact-item">

	    <img src="@contact.ContactImage" alt="Kontakt bild"/>
        <h3>@contact.ContactName</h3>
        <p>@contact.ContactNumber</p>
        <p>@contact.ContactEmail</p>   

		</div>
	}

</div>
