@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.GigInfo>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
    var swedishCulture = new System.Globalization.CultureInfo("sv-SE");
    var address = Uri.EscapeDataString(Model.Name + " " + Model.Address + " " + Model.GigCity);
}

<section id="Gig">
    <div class="topic">
        <h1>@Model.AncestorOrSelf(2).Name</h1>
    </div>
    <div class="gig">
        <div class="center">
            <div></div>
            <div class="map">
                <div class="cont" style="background-image: url('/media/empty-map.png')">
                    <iframe title="Google maps over location @Model.Address" width="330" height="330" style="border:0"
                        loading="lazy" allowfullscreen referrerpolicy="no-referrer-when-downgrade"
                        src="https://www.google.com/maps/embed/v1/place?key=@ApiKey.Key&q=@address"></iframe>
                </div>
            </div>
            <div class="information">
                <div class="grid">
                    <span class="subtopic">
                        @Model.Name
                    </span>
                    <span>
                        Börjar:
                    </span>
                    <span>
                        @Model.Datum.ToString("d MMMM yyyy kl: HH:mm", swedishCulture)
                    </span>
                    @if (Model.GigPrice > 0)
                    {
                        <span>
                            Pris:
                        </span>
                        <span>
                            @Model.GigPrice kr
                        </span>
                    }
                    <span>
                        Address:
                    </span>
                    <span>
                        @Model.Address, @Model.GigCity
                    </span>
                    @if (String.IsNullOrEmpty(Model.Description?.ToString()) == false)
                    {
                        <span>
                            Om Spelning:
                        </span>
                        <span>
                            @Model.Description
                        </span>
                    }
                </div>
            </div>
            <div></div>
        </div>
    </div>
    <div class="readmore">
        <button class="button" onclick="history.back()">&#8592; Tillbaka</button>
    </div>
</section>