@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.GigInfo>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
    var address = Uri.EscapeDataString(Model.Name + " " + Model.Address + " " + Model.GigCity);
}

<section id="Gig">
    <div class="topic">
        @Model.AncestorOrSelf(2).Name
    </div>
    <div class="gig">
        <div class="center">
            <div></div>
            <div class="map">
                <iframe title="Google maps over location @Model.Address" width="350" height="350" style="border:0"
                    loading="lazy" allowfullscreen referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed/v1/place?key=@ApiKey.Key&q=@address"></iframe>
            </div>
            <div class="information">
                <span>
                    Börjar:
                </span>
                <span>
                    @Model.Datum.ToString("dd/MM/yyyy HH:mm")
                </span>
                <span>
                    Pris:
                </span>
                <span>
                    @Model.GigPrice
                </span>
                <span>
                    Plats:
                </span>
                <span>
                    @Model.Name
                </span>
                <span>
                    Address:
                </span>
                <span>
                    @Model.Address, @Model.GigCity
                </span>
                @if (String.IsNullOrEmpty(Model.Description?.ToString()) == false)
                {
                    <span>
                        Om Spelning:
                    </span>
                    <span>
                        @Model.Description
                    </span>
                }
            </div>
            <div></div>
        </div>
    </div>
    <div class="readmore">
        <button class="button" onclick="history.back()">&#8592; tillbaka</button>
    </div>
</section>