@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;

    var pageTitle = Model.Value("headerTitle", fallback: Fallback.ToAncestors);
    if (Model.Name != "Startsida")
        pageTitle += " - " + Model.Name;

    var selection = Umbraco.ContentAtRoot().FirstOrDefault()
    .Children()
    .Where(x => x.IsVisible());

    var homePage = Model.AncestorOrSelf<Home>();
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@pageTitle</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding" rel="stylesheet">
</head>

<body>

<nav>
    <div id="Nav">
        <div class="image">
            <a href="@Model.AncestorOrSelf(1).Url()">
                <img src="@homePage.HeaderImage.Url()" />
            </a>
        </div>
        <div class="menu">
            <a href="@Model.AncestorOrSelf(1).Url()" @(Model.Name == @Model.AncestorOrSelf(1).Name ? "class=active" : null)>
                @Model.AncestorOrSelf(1).Name
            </a>
            @foreach (var item in selection)
            {
                if (Model.IsDescendantOrSelf(item))
                {
                    <a href="@item.Url()" class="active">@item.Name()</a>
                }
                else
                {
                    <a href="@item.Url()">@item.Name()</a>
                }
            }
        </div>
    </div>
</nav>

<main>
    @RenderBody()
</main>

@await Html.PartialAsync("~/Views/Partials/footer.cshtml")

</body>

</html>
