@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.NewsBinder>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
	
	/*
	 content:  style=""
	 item:  style="display: flex; flex-direction: column;"
	*/
	
}

<div id="News">
    <div class="topic">
        <h1>@Model.Name</h1>
    </div>
    <div class="newsList">
    @{
	    var selection = Umbraco.Content(Guid.Parse("705b6e51-061f-47d1-a345-40e5d8d5b79f"))
        .ChildrenOfType("newsItem")
        .Where(x => x.IsVisible())
        .OrderByDescending(x => x.CreateDate);
    }
        <div class="newsListings">
        @foreach (var item in selection)
	    {
		    <div class="newsItem">
		        <div>
	    		    <h3>@item.Name()</h3>
			    </div>
			    <div>
	    		    <span>@item.CreateDate</span>
			    </div>
			    <div>
	    		    @Html.Truncate(item.Value("newsContent").ToString(), 220, true)
			    </div>
			    <div>
	    		    <a href="@item.Url()"><button class="button">Fortsätt läsa...</button></a>
			    </div>
		    </div>
	    }
        </div>
    </div>
</div>
