@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.NewsBinder>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
	
	/*
	 topic: style="padding: 1rem; background-color: #ccc"
	 content:  style="padding: 1rem; display: grid; gap: 1rem; grid-template-columns: repeat(auto-fit, minmax(min(100%, 180px), 1fr));"
	 item:  style="display: flex; flex-direction: column;"
	*/
	
}

<div id="News">
    <div class="topic">
        <h1>@Model.Name</h1>
    </div>
    <div class="newsList">
    @{
	    var selection = Umbraco.Content(Guid.Parse("705b6e51-061f-47d1-a345-40e5d8d5b79f"))
        .ChildrenOfType("newsItem")
        .Where(x => x.IsVisible())
        .OrderByDescending(x => x.CreateDate);
    }
        <div class="newsListings">
        @foreach (var item in selection)
	    {
		    <div class="newsItem">
			    <h3>@item.Name()</h3>
			    <span>@item.CreateDate</span>
			    @Html.Truncate(item.Value("newsContent").ToString(), 220, true)
			    <a href="@item.Url()">Fortsätt läsa...</a>
		    </div>
	    }
        </div>
    </div>
</div>
