@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="calendar">
    @{
        DateTime dateToday = DateTime.Now;
    }
    @foreach (var gigDate in Model.Children
    .Where(x => x.Value<DateTime>("datum") >= dateToday)
    .GroupBy(x => x.Value<DateTime>("datum"))
    .OrderBy(group => group.Key).ToList())
    {
        DateTime date = gigDate.Key;

        <div class="wrapper">
            <div class="day">
                <div class="date">
                    <span class="day">@date.Day</span>
                    <span class="month">@date.ToString("MMM")</span>
                </div>
            </div>
            <div class="gigs">
                <div class="gig">
                    <ol>
                        @foreach (var gig in gigDate)
                        {
                            <li>
                                <span class="link"><a href="@gig.Url()">@gig.Name</a></span>
                                <span class="city">Ort: @gig.Value("gigCity")</span>
                            </li>
                        }
                    </ol>
                </div>
            </div>
        </div>
    }
</div>
