@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var root = Model.AncestorOrSelf<Home>();
    var companyName = root?.CompanyName ?? "Company name is missing";
    var phoneNumber = root?.PhoneNumber ?? "Phone number is missing";
    var email = root?.EMail ?? "E-Mail is missing";
    var socials = root?.Socials ?? new List<SocialLink>();
}

<footer>
    <div id="Footer">
        <div>
            <div class="socials">
            @foreach(var social in socials)
            {
                    <li style="width: 5%">
                        <a href="@social.Url">@Html.Raw(social.GetIconSvgString())</a>
                    </li>
            }
            </div>
            <div class="contact">
                <span>@companyName</span>
                <span>@phoneNumber</span>
                <span>@email</span>
            </div>
        </div>
        <div class="copyright">
            &copy; @companyName @DateTime.Now.Year
        </div>
    </div>
</footer>
